@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br />
<br />

@Html.Partial("../Partial/_Profile")  @*Display a Partial Page _Profile in all the Views File*@
